/* 代码块 */
.post-content pre code {
    background-color: var(--pe-code-block-bg-color) !important;
    font-size: 1.0rem;
    color: var(--pe-code-block-color);
    border-radius: .4rem;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 600px;
}

.highlight pre.chroma code {
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
}

/* 嵌入代码 */
.post-content code {
	font-family: Consolas, sans-serif;
	color: var(--pe-primary-hover-color);
}

/* 鼠标选中文本颜色 */
::-moz-selection {
    background: var(--pe-primary-hover-color);
    color: var(--pe-btn-font-color);
}

::selection {
    background: var(--pe-primary-hover-color);
    color: var(--pe-btn-font-color);
}

::-webkit-selection {
    background: var(--pe-primary-hover-color);
    color: var(--pe-btn-font-color);
}
