/* 代码块 */
.post-content pre code {
    /* font-family: Consolas; */
    background-color: var(--pe-code-block-bg-color) !important;
    font-size: 1.0rem;
    color: var(--pe-code-block-color);
    border-radius: unset;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 600px;
}

/* 嵌入代码 */
.post-content code {
	font-family: Consolas, sans-serif;
	/* font-size: .875em; */
	color: var(--pe-primary-hover-color);
}

/* 鼠标选中文本颜色 */
::-moz-selection {
    background: var(--pe-primary-hover-color);
    color: var(--pe-btn-font-color);
}

::selection {
    background: var(--pe-primary-hover-color);
    color: var(--pe-btn-font-color);
}

::-webkit-selection {
    background: var(--pe-primary-hover-color);
    color: var(--pe-btn-font-color);
}
