/* Background */ .bg { color:#f8f8f2;background-color:#272822; }
/* PreWrapper */ .chroma { color:#f8f8f2;background-color:#272822; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color:#24292E }
/* CodeLine */ .chroma .cl { color:#24292E }
/* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
/* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
/* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
/* LineHighlight */ .chroma .hl { background-color:#3c3d38 }
/* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
/* Line */ .chroma .line { display:flex; }
/* Keyword */ .chroma .k { color:#d73a49 }
/* KeywordConstant */ .chroma .kc { color:#d73a49 }
/* KeywordDeclaration */ .chroma .kd { color:#d73a49 }
/* KeywordNamespace */ .chroma .kn { color:#d73a49 }
/* KeywordPseudo */ .chroma .kp { color:#d73a49 }
/* KeywordReserved */ .chroma .kr { color:#d73a49 }
/* KeywordType */ .chroma .kt { color:#d73a49 }
/* Name */ .chroma .n { color: #24292E }
/* NameAttribute */ .chroma .na { color:#24292E }
/* NameBuiltin */ .chroma .nb { color: #24292E }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color:#6F42C1 }
/* NameConstant */ .chroma .no { color:#66d9ef }
/* NameDecorator */ .chroma .nd { color:#a6e22e }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne { color:#a6e22e }
/* NameFunction */ .chroma .nf { color:#6F42C1 }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl { color: #24292E }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx { color:#a6e22e }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color:#f92672 }
/* NameVariable */ .chroma .nv { color: #24292E }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l { color:#ae81ff }
/* LiteralDate */ .chroma .ld { color:#005CC5 }
/* LiteralString */ .chroma .s { color:#005CC5 }
/* LiteralStringAffix */ .chroma .sa { color:#005CC5 }
/* LiteralStringBacktick */ .chroma .sb { color:#005CC5 }
/* LiteralStringChar */ .chroma .sc { color:#005CC5 }
/* LiteralStringDelimiter */ .chroma .dl { color:#005CC5 }
/* LiteralStringDoc */ .chroma .sd { color:#005CC5 }
/* LiteralStringDouble */ .chroma .s2 { color:#005CC5 }
/* LiteralStringEscape */ .chroma .se { color:#005CC5 }
/* LiteralStringHeredoc */ .chroma .sh { color:#005CC5 }
/* LiteralStringInterpol */ .chroma .si { color:#005CC5 }
/* LiteralStringOther */ .chroma .sx { color:#005CC5 }
/* LiteralStringRegex */ .chroma .sr { color:#005CC5 }
/* LiteralStringSingle */ .chroma .s1 { color:#005CC5 }
/* LiteralStringSymbol */ .chroma .ss { color:#005CC5 }
/* LiteralNumber */ .chroma .m { color:#005CC5 }
/* LiteralNumberBin */ .chroma .mb { color:#005CC5 }
/* LiteralNumberFloat */ .chroma .mf { color:#005CC5 }
/* LiteralNumberHex */ .chroma .mh { color:#005CC5 }
/* LiteralNumberInteger */ .chroma .mi { color:#005CC5 }
/* LiteralNumberIntegerLong */ .chroma .il { color:#005CC5 }
/* LiteralNumberOct */ .chroma .mo { color:#005CC5 }
/* Operator */ .chroma .o { color:#D73A49 }
/* OperatorWord */ .chroma .ow { color:#D73A49 }
/* Punctuation */ .chroma .p { color: #24292E }
/* Comment */ .chroma .c { color:#6A737D }
/* CommentHashbang */ .chroma .ch { color:#6A737D }
/* CommentMultiline */ .chroma .cm { color:#6A737D }
/* CommentSingle */ .chroma .c1 { color:#6A737D }
/* CommentSpecial */ .chroma .cs { color:#6A737D }
/* CommentPreproc */ .chroma .cp { color:#D73A49 }
/* CommentPreprocFile */ .chroma .cpf { color:#032F62 }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color:#f92672 }
/* GenericEmph */ .chroma .ge { font-style:italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi { color:#a6e22e }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight:bold }
/* GenericSubheading */ .chroma .gu { color:#75715e }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
