{{- /* Comments area start */ -}}
  	<!-- giscus comment -->
	  <script src="https://giscus.app/client.js"
	  data-repo="YC-Xiang/YC-Xiang.github.io"
	  data-repo-id="R_kgDOLmQCMw"
	  data-category="Announcements"
	  data-category-id="DIC_kwDOLmQCM84CfbMy"
	  data-mapping="pathname"
	  data-strict="0"
	  data-reactions-enabled="1"
	  data-emit-metadata="0"
	  data-input-position="bottom"
	  data-theme="preferred_color_scheme"
	  data-lang="zh-CN"
	  crossorigin="anonymous"
	  async>
	  </script>
{{- /* Comments area end */ -}}
